@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}

button {
  background-color: darkslategray;
  font-family: 'Anton', sans-serif;
  
  color: white;
  border: none;
  font-size: 40px;
  width: 500px;
  transition: background-color 0.5s ease-in-out;
}
button:hover{
  background-color: #ff4063;
 cursor: pointer;
  color:black;
}
.container {
  display: flex;
  flex-direction: column;
 
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fff url(../assets/Hero/Med/med-hero.webp) no-repeat fixed center;
  background-clip: text;
  -webkit-background-clip: text;
  
}
.real {
  line-height: 1em;
  margin: 0 auto;
  font-size: 20rem;
  color: transparent;
}
.about {
  height: 80vh;
}
a {
  text-decoration: none;
  color: white;
}
main  {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;

}
h1{
 text-align: center;
 font-size:50px;
}
nav{
  font-family: 'Alfa Slab One', cursive;
  background-color: darkslategrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
}
a.logo div {
  width: 100px;
  display: flex;
  align-items: center;
}
a.logo div span {
  margin: 0 10px;
}
.logo{
  border-radius: 50%;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
a{  text-decoration: none;
  color: white;
  margin: 12px;
}
a:hover {
  color: black;
}
footer{
  background-color: #000000;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  bottom: 0%;
  padding-top: 10px;}

.btn{
  border: 0;
  border-radius: 50%;
  background: darkslategrey;
  color: white;
  font-family: -system-ui, sans-serif;
  font-size: .8rem;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.35rem;
  margin: 0.25rem;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.btn:hover{
  background-color: #ff4063;
  font-weight: bold;
  color:black;
}